.ndb-dep--chantico {
    .chantico-title-section {
        padding: 150px 0px;
        color: #e5e5e5;
        .word {
            position: relative;
            display: inline-block;
            transition: 1.5s;
        }
        .word-1 {
            top: 0px;
        }
        .word-2 {
            top: 30px;
        }
        .word-3 {
            top: 60px;
        }
        .title-animation {
            color: #343a40;
            transition: 1s;
            .word {
                top: 0px !important;
            }
        }
        .sub-title-animation {
            color: #343a40;
            transform: 1s;
            .word {
                top: 0px !important;
            }
        }
    }

    .ndb-dep__animation-wrapper {
        .animation-wrapper {
            svg {
                max-width: 100%;
                width: auto;
                height: auto;
            }

            @media screen and (min-width: 1024px) {
                width: 333px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;

                svg {
                    position: absolute;
                    display: block;
                    transition: all 1s ease;

                    &.animation--1 {
                        top: 0;
                        right: 0;
                        left: 0;
                        margin: auto;
                    }

                    &.animation--2 {
                        width: 193px;
                        top: 16px;
                        left: -70px;
                        margin-top: 0;
                    }

                    &.animation--3 {
                        top: 16px;
                        right: 20px;
                    }

                    &.animation--4 {
                        right: 0;
                        bottom: 24px;
                        left: 0;
                        margin: auto;
                    }
                }
            }
        }

        .animation__content {
            .sticky {
                top: 10%;
            }
        }
    }
}
